@model DAE_Prode.Models.usuariomodels
@{
    ViewBag.Title = "Editar Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h1>Editar Usuario</h1>

<div>
@using (Html.BeginForm()) {
    <div>
        <fieldset>            
             <div class="editor-label">
                @Html.LabelFor(model => model.id)
            </div>
             <div class="editor-field">
                @Html.TextBoxFor(model => model.id,new { disabled = "disabled"} )  
                @Html.ValidationMessageFor(model => model.id)              
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username)
            </div>             
            <div class="editor-label">
                @Html.LabelFor(model => model.password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.nombre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model. apellido)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model. apellido)
                @Html.ValidationMessageFor(model => model. apellido)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.fechanac)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.fechanac, new { id = "datepicker"})
                @Html.ValidationMessageFor(model => model.fechanac)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
             
        </fieldset>
        <div class="submit">
            <input type="submit" value="Guardar" />
            <input type="reset" value="Reset" />
        </div>        
    </div>
}
</div>
@Html.ActionLink("Cancelar", "Index", "Usuarios")

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker(
        {
            dateFormat: 'dd-mm-yy',
            changeYear: true,
            yearRange: "1930:2015",
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
        });
    });
</script>