@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>

<div><h3>Usuarios</h3></div>
Agregar usuario
<a href="@Url.Action("Agregar", "Usuarios")">
    <img src="../../Content/images/img/add.png" alt="Agregar Usuario" class="imageHome" title="Agregar Nuevo Usuario" />
</a>

<div>
<table cellpadding="0" cellspacing="0">
    <tr>
    <th>Id</th> <th>Username</th> <th>Password</th> <th>Nombre</th> <th>Apellido</th> 
    <th>Fecha-Nacimiento</th><th>email</th> <th>Opciones</th>
    </tr>	
	@foreach (var aux in Model) {	
     <tr>
        <td>@aux.id</td> 
		<td>@aux.username</td> 
		<td>@aux.password</td>
		<td>@aux.nombre</td>
		<td>@aux.apellido</td> 
		<td>@aux.fechanac</td>
		<td>@aux.email</td>
        <td align="center">
        <a href="@Url.Action("Ver", "Usuarios", new { id = @aux.id })" title="Ver Usuario">
            <img src="../../Content/images/img/view.png" alt="Ver Usuario" class="imageHome" /></a>
        <a href="@Url.Action("Editar", "Usuarios", new { id = @aux.id })" title="Editar Usuario">
            <img src="../../Content/images/img/edit.png" alt="Editar Usuario" class="imageHome" /></a>
        <a href="@Url.Action("Eliminar", "Usuarios", new { id = @aux.id })" class="delete" title="Eliminar Usuario">
            <img src="../../Content/images/img/delete.png" alt="Eliminar Usuario" class="imageHome" /></a>
        </td>
	</tr>
    }
</table>
</div>
<br/><br/>
<a href="@Url.Action("Home", "Admin")"> Volver al ADMINISTRADOR </a>

<script type="text/javascript">
    $('.delete').click(function () {
        if (confirm('Está seguro que desea eliminar este Usuario?')) {
            var $link = $(this);
            $.ajax({
                url: this.href,
                type: 'DELETE',
                success: function (result) {
                    $link.parent().parent().remove();
                }
            });
        }
        return false;
    });
</script>