@{
    ViewBag.Title = "Ver Usuario";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>

<div class="info-view">
<h2>Datos del Torneo</h2>
<div id = "izqview">
	<div id = "imagenvie">
	    <div id = "view_img">
            <img src="../../Content/images/admin/usuarios.png" alt="Torneo" />
        </div>
	</div>
	<div id = "mostrarI">
        <p><strong>ID: </strong>@ViewBag.id</p>
        <p><strong>Nombre: </strong>@ViewBag.nombre</p>
        <p><strong>Apellido: </strong>@ViewBag.appellido</p>
        <p><strong>username: </strong>@ViewBag.username</p>   
        <p><strong>password: </strong>@ViewBag.password</p>        
        <p><strong>fecha nacimiento: </strong>@ViewBag.fechanac</p>
        <p><strong>email: </strong>@ViewBag.email</p>
	</div>
</div>
</div>
<br/>
<br/> <br/>
<p>@Html.ActionLink("Volver", "Index", "Usuarios")</p>