@{
    ViewBag.Title = "Verboletasportorneo";
}

<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h2>@ViewBag.nombretorneo</h2>

@{var lfechas = (IEnumerable< DAE_Prode.Models.fechamodels>)ViewData["lfechas"];}
@{var idusuario =(int)Session["id"];}
@foreach (var auxf in lfechas)
{
    IEnumerable<DAE_Prode.Models.boletamodels> lboletas = new DAE_Prode.Models.boletamodels().boletaporfechaporuser(auxf.id, idusuario);
         <div class="usarios-vbpt-nombrefecha">@auxf.nombre</div>
         <table class="tabla-general usarios-vbpt-tabla">
         <tr><th>Equipo local</th><th>Goles local</th><th>Goles Visitante</th><th>Equipo visitante</th><th>Estadio</th><th>puntos</th></tr>
         @{ var aux = 0;}
         @foreach (var auxb in lboletas)
         {
             <tr>
                <td>@{var nombre = new DAE_Prode.Models.equipomodels().nombreequipo(auxb.equipolocal); } @nombre </td>
                <td>@auxb.goleslocal</td><td>@auxb.golesvisita</td>
                <td> @{ nombre = new DAE_Prode.Models.equipomodels().nombreequipo(auxb.equipovisita); } @nombre </td>
                <td>@auxb.estadio</td>
                <td>@auxb.puntostotales</td>
             </tr>
          {aux = aux + auxb.puntostotales; }
         }
         <tr><td></td><td></td><td></td><td></td><th>PUNTOS TOTALES</th><td>@aux</td></tr>
     </table>
        
              
    
}