@model MvcApplication6.Models.equipomodels
@{
    ViewBag.Title = "Editar Equipo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h1>Editar Equipo</h1>
<div>
@using (Html.BeginForm()) {
    <div>
        <fieldset>
             <div class="editor-label">
                @Html.LabelFor(model => model.id)
            </div>
             <div class="editor-field">
                @Html.TextBoxFor(model => model.id,new { disabled = "disabled"} )                
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.nombre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>             
            </fieldset>
        <div class="submit">
            <input type="submit" value="Guardar" />
            <input type="reset" value="Reset" />
        </div>        
    </div>
}
</div>
@Html.ActionLink("Cancelar", "Index", "Equipos")