@model DAE_Prode.Models.fechamodels                 
@{
    ViewBag.Title = "Agregar Fecha";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h1>Agregar Nueva Fecha</h1>
<br/>
@using (Html.BeginForm()) {
<div>
    <fieldset>
    @{ var aux1 = (IEnumerable<DAE_Prode.Models.torneomodels>) ViewData["listatorneos"]; }

    <div class="editor-label">
        @Html.Label("Torneo")
    </div>
    @Html.DropDownListFor(
        m => m.idtorneo,
        new SelectList(aux1, "id", "nombre")
        )          
    <div class="editor-label">
        @Html.LabelFor(m => m.nombre)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.nombre)
        @Html.ValidationMessageFor(m => m.nombre)
    </div>
    <div class="editor-label">
        @Html.Label("Fecha")
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.fecha1,new { id="datepicker" })
        @Html.ValidationMessageFor(m => m.fecha1)
    </div>
    </fieldset>
    <div class="submit">
        <input type="submit" value="Agregar Fecha" />
        <input type="reset" value="Reset" />
    </div>
</div>
}

@Html.ActionLink("Cancelar", "Index", "Fechas")

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: "dd-mm-yy" });
        var dateFormat = $("#datepicker").datepicker("option", "dateFormat");
        //setter
        $(".selector").datepicker("option", "dateFormat", 'dd-mm-yy');
    });
</script>