@model DAE_Prode.Models.fechamodels
@{
    ViewBag.Title = "Editar Fecha";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h1>Editar Fecha</h1>
<div>
@using (Html.BeginForm()) {
<div>
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.id)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.id, new { Readonly = "readonly"})            
        </div>
        <div class="editor-label">
            @Html.Label("Torneo")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.idtorneo, new { Readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.idtorneo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>
        <div class="editor-label">
            @Html.Label("Fecha")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.fecha1, new { id="datepicker"})
            @Html.ValidationMessageFor(model => model.fecha1)
        </div>
        </fieldset>
        <div class="submit">
            <input type="submit" value="Guardar" />
            <input type="reset" value="Reset" />
        </div>        
    </div>
}
</div>
@Html.ActionLink("Cancelar", "Index", "Fechas")

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: "dd-mm-yy" });
        var dateFormat = $("#datepicker").datepicker("option", "dateFormat");
        //setter
        $(".selector").datepicker("option", "dateFormat", 'dd-mm-yy');
    });
</script>