@model DAE_Prode.Models.partidomodels             
@{
    ViewBag.Title = "Editar Partido";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>@TempData["ERROR"]</h2>
<h2>@TempData["MENSAJE"]</h2>
<h1>Editar Partido</h1>
<div>
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            @{
                var listafechas     = (IEnumerable<DAE_Prode.Models.fechamodels>)     ViewData["listafechas"];
                var listaequiposloc    = (IEnumerable<DAE_Prode.Models.equipomodels>)    ViewData["listaequipos"];              
            }
            <div class="editor-label">
                @Html.LabelFor(m => m.id)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.id, new { Readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.id)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.idfechatorneo)
            </div>
            @Html.DropDownListFor( m => m.idfechatorneo, new SelectList(listafechas, "id", "nombre"))
           <div class="editor-label">
                @Html.LabelFor(m => m.equipolocal)
            </div>
            @Html.DropDownListFor( m => m.equipolocal, new SelectList(listaequiposloc, "id", "nombre"))
           <div class="editor-label">
                @Html.LabelFor(m => m.equipovisita)
            </div>
            @Html.DropDownListFor( m => m.equipovisita, new SelectList(listaequiposloc, "id", "nombre"))
            <div class="editor-label">
                @Html.LabelFor(m => m.goleslocal)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.goleslocal)
                @Html.ValidationMessageFor(m => m.goleslocal)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.golesvisita)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.golesvisita)
                @Html.ValidationMessageFor(m => m.golesvisita)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.estadio)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.estadio)
                @Html.ValidationMessageFor(m => m.estadio)
             </div>
            </fieldset>
            
        <div class="submit">
            <input type="submit" value="Guardar" />
            <input type="reset" value="Reset" />
        </div>        
    </div>
}
</div>
@Html.ActionLink("Cancelar", "Index", "Partidos")