@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<ol>
	<!--ActionLink("nombre del link", "action"	, "controller") -->
	<li>@Html.ActionLink("Torneos"				, "Index"	, "Torneos"		)	</li>
	<li>@Html.ActionLink("Equipos"				, "Index"	, "Equipos"		)	</li>
	<li>@Html.ActionLink("Partidos"				, "Index"	, "Partidos"	)	</li>
	
    <li>@Html.ActionLink("Operador Cargar Partido", "Seleccionarfechaportorneo",  "Operators")	</li>
    <li>@Html.ActionLink("Usuario Verpuntosfecha ", "boletaporfecha", "Usuarios", new { accion = "Verpuntosporfecha" }, null)	</li>
    <li>@Html.ActionLink("Usuario Verpuntostorneo ", "boletasportorneo", "Usuarios")	</li>
	<li>@Html.ActionLink("Fechas"				, "Index"	, "Fechas"		)	</li>
	<li>@Html.ActionLink("Home"					, "Index"	, "Home"		)	</li>
	<li>@Html.ActionLink("Usuarios"				, "Seleccionartorneo"	, "Usuarios"	)	</li>
</ol>