<h2 id="errores">@TempData["ERROR"]</h2>
<h2 id="mensajes">@TempData["MENSAJE"]</h2>

@model DAE_Prode.Models.fechamodels

@using (Html.BeginForm())
{
<fieldset>
            <legend>Seleccionar Torneo  y Fecha</legend>

            @{ var aux1 = (IEnumerable<DAE_Prode.Models.torneomodels>)ViewData["listatorneos"]; }

             <div class="editor-label">
                @Html.LabelFor(m => m.nombre)
            </div>
            @Html.DropDownListFor(
                        m => m.idtorneo,
                        new SelectList(aux1, "id", "nombre"),
                        new { id = "seltorneo" }
                                                         
                    )
            @Html.ValidationMessageFor(m => m.idtorneo)
            
          
            @Html.DropDownListFor(
                                m => m.id,
                                new SelectList("", "idfecha", "nombre"),
                                new { id = "selfecha" }
                               
                            ) 
            @Html.ValidationMessageFor(m => m.id) 
             <span><a href="@Url.Action("index", "home")">Home</a></span>
            <p>
            
             <input id="submit" type="submit" value="Cargar Datos" />
               
            </p>
</fieldset>
}