@model MvcApplication6.Models.usuariomodels

@{
    ViewBag.Title = "Agregar Usuario";
}
@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Usuario Information</legend>

            <!-- -----------------    username  ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.username)
                @Html.ValidationMessageFor(m => m.username)
            </div>
             <!-- ----------------- password     ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.password)
                @Html.ValidationMessageFor(m => m.password)
            </div>   
     <!-- -----------------    nombre  ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.nombre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.nombre)
                @Html.ValidationMessageFor(m => m.nombre)
            </div>
     <!-- -----------------    apellido  ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.apellido)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.apellido)
                @Html.ValidationMessageFor(m => m.apellido)
            </div>   
     <!-- -----------------    fecha nacimiento  ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.fechanac)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.fechanac)
                @Html.ValidationMessageFor(m => m.fechanac)
            </div>   
     <!-- -----------------   email  ----------------------------------  -->
            <div class="editor-label">
                @Html.LabelFor(m => m.email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.email)
                @Html.ValidationMessageFor(m => m.email)
            </div>   
            <p>
                <input type="submit" value="Agregar Usuario" />
                <input type="reset" value="Reset" />
            </p>
        </fieldset>
    </div>
}

	@Html.ActionLink("Usuarios", "Index")
	@Html.ActionLink("Home"		, "Index"	, "Home"		)