@model MvcApplication6.Models.usuariomodels

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Información Usuario</legend>

             <div class="editor-label">
                @Html.LabelFor(model => model.id)
            </div>
             <div class="editor-field">
                @Html.TextBoxFor(model => model.id,new { disabled = "disabled"} )  
                @Html.ValidationMessageFor(model => model.id)              
            </div>
            
<!-- -------------------   username ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model.username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username)
            </div>             
            <p>
<!-- -------------------   password ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model.password)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
<!-- -------------------   nombre ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model.nombre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
<!-- -------------------   apellido ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model. apellido)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model. apellido)
                @Html.ValidationMessageFor(model => model. apellido)
            </div>
<!-- -------------------  fecha de nacimiento nombre ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model.fechanac)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.fechanac)
                @Html.ValidationMessageFor(model => model.fechanac)
            </div>
<!-- -------------------  email ------------------------->
            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <p>
                <input type="submit" value="Editar Usuario" />
                <input type="reset" />
            </p>
    </fieldset>
    </div>
}

  <p>@Html.ActionLink("Home"	    , "Index"	, "Home"		)</p>
  <p>@Html.ActionLink("Usuarios"	, "Index"	, "Usuarios"		)</p>

