@{
    ViewBag.Title = "ver";
}

<h2>ver</h2>
<p>ID:	            @ViewBag.id</p>
<p>username:        @ViewBag.username</p>   
<p>password:        @ViewBag.password</p>    
<p>NOMBRE:          @ViewBag.nombre</p>
<p>Apellido:        @ViewBag.appellido</p>
<p>fecha nacimiento:@ViewBag.fechanac</p>
<p>email:           @ViewBag.email</p>

  <p>@Html.ActionLink("Home"	    , "Index"	, "Home"		)</p>
  <p>@Html.ActionLink("Usuarios"	, "Index")</p>